<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>DataTables in Spring MVC Framework and Spring Data JPA</title>
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var refreshTable = $('#userList').DataTable({
			pageLength : 10,
			ajax : {
				url : '/findall',
				dataSrc : ''
			},
			columns : [ 
			{
				title : 'Id',
				data : 'id'
			}, {
				title : 'Name',
				data : 'name'
			}, {
				title : 'Password',
				data : 'password'
			}
		 ]
		});
	
	 setInterval(function test() {
		 $('#userList').DataTable().ajax.reload();
		 //insertar();
	}, 5000);
	});
	
	function insertar(){
		
		   
		  $.ajax({
	            type : "GET",
	            url : "/agregar",
	            success : function(result) {
	                console.log("SUCCESS: ");
	      
	            },
	            error: function(e){
	                console.log("ERROR: ", e);
	       
	            },
	            done : function(e) {
	                console.log("DONE");
	            }
	    });
	           };
	
</script>
<style>
th {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

	<table id="userList" class="display" style="width: 100%"></table>

</body>
</html>